fastapi
uvicorn
python-dotenv

pydantic
requests
aiofiles
python-multipart
openai
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 
psycopg2-binary>=2.9.0
SQLAlchemy>=1.4.0
passlib[bcrypt]
python-jose[cryptography]
langchain
langchain-openai
langchain-community
langgraph 