fastapi
uvicorn
python-dotenv

pydantic
requests
aiofiles
python-multipart
openai
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 
psycopg2-binary>=2.9.0
SQLAlchemy>=1.4.0
passlib[bcrypt]
python-jose[cryptography]
langchain==0.1.20
langchain-openai==0.0.8
langchain-community==0.0.37
# pywebpush removido - migrado para email 
pytz
python-dateutil